<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="studentDB" connectionString="Data Source=(local);Initial Catalog=StudentRegDB;User ID=delegate;Password=Pa55w.rd"/>
  </connectionStrings>
  
</configuration>
